/********************************
*  Footer 
*********************************/

.footer {
    background: $footer-backgroundColor;
    color: $solid-white;
    font-size: $fontSize-small;
    height: $height-footer;
}