// headings
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 0;
}

.heading-primaryColor {
    color: $japanese-laurel;
}

// labels
label {
    font-size: $fontSize-label;
    font-weight: normal;
}

// links
.link-dark,
.link-dark:hover,
.link-dark:focus {
    color: $solid-black;
}

.company-brand:hover,
.company-brand:focus {
    text-decoration: none;
}